<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="OperationsCockpit.Coypu.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <stepAssemblies>
      <stepAssembly assembly="Zukini.UI"/>
    </stepAssemblies>
  </specFlow>
  <applicationSettings>
    <OperationsCockpit.Coypu.Properties.Settings>
      <setting name="RegionAdminUserName" serializeAs="String">
        <value>regionadmin@operationscockpit.com</value>
      </setting>
      <setting name="RegionAdminUserPassword" serializeAs="String">
        <value>1Password!</value>
      </setting>
      <setting name="RegionId" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="OperationsCockpitStartUrl" serializeAs="String">
        <value>https://Portal-MI.doubleline.us/OperationsCockpit-DV</value>
      </setting>
      <setting name="OperationsCockpitRegisterUrl" serializeAs="String">
        <value>https://Portal-MI.doubleline.us/OperationsCockpit-DV-STS/Account/Register</value>
      </setting>
      <setting name="DistrictSuperintendentUserName" serializeAs="String">
        <value>districtsuperintendent@operationscockpit.com</value>
      </setting>
      <setting name="DistrictSuperintendentUserPassword" serializeAs="String">
        <value>1Password!</value>
      </setting>
    </OperationsCockpit.Coypu.Properties.Settings>
  </applicationSettings>
</configuration>