<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow"/>
    <sectionGroup name="applicationSettings"
      type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="OperationsCockpit.Integration.Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="OperationsCockpit.Coypu.Properties.Settings"
        type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <stepAssemblies>
      <stepAssembly assembly="Zukini.UI"/>
    </stepAssemblies>
  </specFlow>
  <applicationSettings>
    <OperationsCockpit.Integration.Test.Properties.Settings>
      <setting name="Setting" serializeAs="String">
        <value>testhrthrt</value>
      </setting>
      <setting name="RegionId" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="OperationsCockpitStartUrl" serializeAs="String">
        <value>https://Portal-MI.doubleline.us/OperationsCockpit-DV</value>
      </setting>
      <setting name="OperationsCockpitRegisterUrl" serializeAs="String">
        <value>https://Portal-MI.doubleline.us/OperationsCockpit-DV-STS/Account/Register</value>
      </setting>
      <setting name="RegionAdminUserName" serializeAs="String">
        <value>regionadmin@operationscockpit.com</value>
      </setting>
      <setting name="RegionAdminUserPassword" serializeAs="String">
        <value>1Password!</value>
      </setting>
      <setting name="DistrictSuperintendentUserName" serializeAs="String">
        <value>districtsuperintendent@operationscockpit.com</value>
      </setting>
      <setting name="DistrictSuperintendentUserPassword" serializeAs="String">
        <value>1Password!</value>
      </setting>
      <setting name="TechnicalContactUserName" serializeAs="String">
        <value>technicalcontact@operationscockpit.com</value>
      </setting>
      <setting name="TechnicalContactUserPassword" serializeAs="String">
        <value>1Password!</value>
      </setting>
      <setting name="District1TechContact1UserName" serializeAs="String">
        <value>district1TechContact1@test.com</value>
      </setting>
      <setting name="District1TechContact1UserPassword" serializeAs="String">
        <value>1Password!</value>
      </setting>
      <setting name="TestDistrictSuperintendentUserName" serializeAs="String">
        <value>districtsuperintendent@operationscockpit.com</value>
      </setting>
      <setting name="TestDistrictSuperintendentUserPassword" serializeAs="String">
        <value>1Password!</value>
      </setting>
      <setting name="TestUserUserName" serializeAs="String">
        <value>testuser@operationscockpit.com</value>
      </setting>
      <setting name="TestUserUserPassword" serializeAs="String">
        <value>1Password!</value>
      </setting>
      <setting name="JaneDoeUserName" serializeAs="String">
        <value>jane.doe@test.com</value>
      </setting>
      <setting name="JaneDoeUserPassword" serializeAs="String">
        <value>1Password!</value>
      </setting>
      <setting name="district1TechContact2UserName" serializeAs="String">
        <value>district1TechContact2@test.com</value>
      </setting>
      <setting name="district1TechContact2UserPassword" serializeAs="String">
        <value>1Password!</value>
      </setting>
      <setting name="TestOperationsManagerUserName" serializeAs="String">
        <value>operationsmanager@operationscockpit.com</value>
      </setting>
      <setting name="TestOperationsManagerUserPassword" serializeAs="String">
        <value>1Password!</value>
      </setting>
      <setting name="TestDataHubDataCustodianUserName" serializeAs="String">
        <value>datahubdatacustodian@operationscockpit.com</value>
      </setting>
      <setting name="TestDataHubDataCustodianUserPassword" serializeAs="String">
        <value>1Password!</value>
      </setting>
      <setting name="TestDataHubSuperintendentUserName" serializeAs="String">
        <value>datahubsuperintendent@operationscockpit.com</value>
      </setting>
      <setting name="TestDataHubSuperintendentUserPassword" serializeAs="String">
        <value>1Password!</value>
      </setting>
      <setting name="TestDatahubSuperintendentProxyUserName" serializeAs="String">
        <value>datahubsuperintendentproxy@operationscockpit.com</value>
      </setting>
      <setting name="TestDatahubSuperintendentProxyUserPassword" serializeAs="String">
        <value>1Password!</value>
      </setting>
      <setting name="TestDistrictSuperintendentProxyUserName" serializeAs="String">
        <value>districtsuperintendentproxy@operationscockpit.com</value>
      </setting>
      <setting name="TestDistrictSuperintendentProxyUserPassword" serializeAs="String">
        <value>1Password!</value>
      </setting>
      <setting name="Browser" serializeAs="String">
        <value>PhantomJS</value>
      </setting>
      <setting name="AppHost" serializeAs="String">
        <value>portal-mi.doubleline.us</value>
      </setting>
    </OperationsCockpit.Integration.Test.Properties.Settings>
  </applicationSettings>
</configuration>